<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2OrR2exflB4Ehq5I94F2tzBauD7IpiDJ"
          crossorigin="anonymous">
    <title>Medicine Categories</title>
</head>
<body>
<div class="container mt-5">
    <h2>Categories</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
        </tr>
        </tbody>
    </table>

    <h2>Medicines</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Buy</th>
            <th>Date Expire</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicine : ${medicines}">
            <td th:text="${medicine.id}"></td>
            <td th:text="${medicine.name}"></td>
            <td th:text="${medicine.dateBuy}"></td>
            <td th:text="${medicine.dateExpire}"></td>
            <td th:text="${medicine.category.name}"></td>
            <td th:text="${medicine.description}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-Mk/9lU3eGpKpxj7MmU9ZT4f5rHHIs6o3ccTd8UnYdUAqzRCqzz8XxI3KbJlU"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2OrR2exflB4Ehq5I94F2tzBauD7IpiDJ"
        crossorigin="anonymous"></script>
</body>
</html>
